body {
  margin: 0;
  padding: 0;
}

#calculator {
  background-color: #555555;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
}

#display {
  background-color: #b9d37c;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 50px;
  text-align: right;
  font-size: 24px;
}

#display div {
  line-height: 150%;
  padding-right: 5px;
}

#buttons {
  width: 100%;
  padding: 0;
}

#buttons button {
  background-color: #777777;
  color: white;
  border: 2px #777777 solid;
  border-radius: 4px;
  width: 22%;
  margin-bottom: 5px;
  margin-right: 2%;
}

#buttons button:focus {
  outline: none;
}

#buttons button:active {
  background-color: #333333;
}

#buttons button:last-child {
  margin-right: 1px;
}

#buttons #bottom_rows {
  box-sizing: border-box;
  float: left;
  width: 76%;
}

#buttons #bottom_rows button {
  width: 28.95167%;
  margin-right: 2.5%;
}

#buttons #add {
  height: 48px;
}
